/*
 * Colors
 */


$white: #ffffff
$black: #191919
$gray: #999
$orange: #ff6203
$red: #c60e0a
$green: #239500

$dark-white: #e7e7e7
$dark-gray: #414141
$dark-red: #9d0f0d

$light-gray: #7f7a78
$light-green: #badfba
$light-red: #d81010
$light-black: #292929
$light-green: #4dab24