.header
	position: fixed
	top: 0
	left: 0
	z-index: 100
	width: 100vw
	background-color: $c_dark
	&__content
		display: flex
		align-items: center
		justify-content: space-between
		margin-left: -20px
		margin-right: -20px
	&-logo
		&__wrapper
			max-width: 100%
			width: 110px
			padding-top: 6px
			text-align: right
			margin-left: 10px
		&__link
			display: block
		&__img
			display: block
			max-width: 100%
	&-top
		display: none
		&__link
			&-tooltip
				display: none
	&-bottom
		&__left
			display: flex
			align-items: center
			justify-content: flex-start
			flex-basis: 50%
		&__right
			flex-basis: 50%
			padding-right: 20px
	&-nav
		a
			color: #ffffff
		&__burger
			position: relative
			display: inline-block
			color: #ffffff
			width: 73px
			background-color: transparent
			border: none
			margin-right: 0px
			&:focus
				outline: none
			&.active
				color: $c_light_gray_darken
				background-color: $c_dark_darken
				z-index: 50
			&:before
				vertical-align: text-top
				font-size: 5.2rem
				transition: font-size 0.2s
	&-cart
		display: none
	&-mob
		&-icons
			display: flex
			align-items: center
			justify-content: flex-end
			color: #ffffff
			padding-top: 8px
			&__item
				list-style-type: none
				margin-left: 22px
				&:first-of-type
					margin-left: 0
				&-icon
					position: relative
					font-size: 1.8rem
					&.active
						color: $c_red_lighten
					&--cart
						font-size: 2rem
						.header-mob-icons__item-count
							background-color: $c_red
							color: #ffffff
				&-count
					position: absolute
					top: -8px
					right: -6px
					line-height: 1
					display: flex
					align-items: center
					justify-content: center
					font-size: 1rem
					font-weight: $fw_bold
					background-color: #ffffff
					border-radius: 50%
					color: #000000
					width: 16px
					height: 16px
		&-tools
			&__nav
				position: fixed
				top: 0
				right: 100%

body.scroll
	.header
		&-nav
			&__burger
				&:before
					font-size: 3.5rem




@media screen and (min-width: 768px)
	
	body.scroll
		.header
			&-nav
				&__burger
					&:before
						font-size: 5.2rem
						
@media screen and (min-width: 992px)
	.header
		position: relative
		width: 100%
		&-dropdown
			display: none
			position: absolute
			right: -39px
			top: calc(100% + 22px)
			z-index: -1
			background-color: #292929
			box-shadow: 0 0 10px #414141
			color: #8a8a8a
			min-width: 330px
			max-height: 600px
			border-radius: 4px
			font-size: 1.2rem
			line-height: 1.4
			font-family: $f_arial
			&.active
				display: block
				z-index: 20
			&__msg
				color: #c60e0a
				text-align: center
				padding: 10px 15px
			&__empty
				padding: 10px 15px
				color: #8a8a8a
			&-item
				display: flex
				align-items: flex-start
				justify-content: space-between
				flex-flow: column nowrap
				padding: 13px
				&__config
					&-title
						padding: 5px 0
						font-family: $f_euro
						font-weight: $fw_bold
						font-size: 1.5rem
						color: #c60e0a
						white-space: nowrap
						overflow: hidden
						text-overflow: ellipsis
					&-data
						position: relative
						display: flex
						flex-flow: row nowrap
						align-items: center
						justify-content: space-between
						width: 100%
						margin-left: 10px
						border-left: 1px solid #4a4a4a
						&:after
							content: ''
							position: absolute
							left: -1px
							bottom: 0
							top: 50%
							width: 10px
							height: 50%
							border-top: 1px solid #4a4a4a
							background-color: #292929
						> div
							padding: 10px
					&-version
						width: 30px
						margin-left: 5px
					&-date
						width: 69px
					&-name
						max-width: 171px
						font-weight: $fw_bold
						color: #8a8a8a
						white-space: nowrap
						overflow: hidden
						text-overflow: ellipsis
					&-price
						min-width: 60px
						font-size: 1.3rem
						font-weight: $fw_bold
						color: #8a8a8a
						.price-label
							display: none
						.currency
							display: none
					&-view
						font-size: 1.3rem
						width: 80px
			&-actions
				color: #ccc
				text-align: right
				background-color: #636363
				padding: 10px 28px 10px 15px
				.header
					&-dropdown
						&-count
							margin-bottom: 10px
				.btn
					position: relative
					display: inline-block
					text-align: left
					white-space: nowrap
					border: none
					font-family: $f_euro
					overflow: hidden
					width: 65%
					padding-left: 10px
					font-size: 1.5rem
					line-height: 1
					color: #ffffff
					background-color: #c60e0a
					font-weight: $fw_med
					padding: 9px 2px 10px 12px
					&:hover
						background-color: #d81010
					&:before
						content: ''
						position: absolute
						top: -25px
						right: 0
						height: 0
						width: 0
						border-top: 65px solid transparent
						border-right: 50px solid #9d0f0c
						border-bottom: 50px solid transparent
						padding-left: 10px
					&:after
						content: ""
						position: absolute
						right: 5px
						top: 50%
						display: inline-block
						font-family: $f_iconfont
						vertical-align: middle
						font-size: 2.1rem
						line-height: 21px
						color: #ffffff
						margin-top: -11px
						text-decoration: none
			&-laden
				padding: 10px 28px 15px 15px
				background-color: #636363
				border-top: 1px solid #292929


		&__content
			position: relative
		&-top
			position: fixed
			top: 0
			left: 0
			z-index: 20
			width: 100%
			display: block
			font-family: $f_arial
			font-size: 1.4rem
			padding: 7px 0
			background-color: $c_dark
			color: $c_text_gray
			&__link
				&-tooltip
					top: calc(100% + 22px)
					right: -39px
					max-height: 600px
					font-size: 1.2rem
					line-height: 1.4
				
			&__left
				display: flex
				align-items: center
				justify-content: flex-start
				> *:before
					content: '|'
					display: inline-block
					line-height: 1
					margin: 0 10px
				> *:first-of-type:before
					display: none !important
			&__right
				display: flex
				align-items: center
				justify-content: flex-end
				> *
					margin-left: 50px
				> *:first-of-type
					margin-left: 0
				&-links
					display: flex
					align-items: center
					justify-content: flex-end
				&-link
					color: #ffffff
					text-decoration: none
					font-size: 1.2rem
					&:hover	
						text-decoration: none
						color: $c_text_gray
					&.active
						&:after
							content: ""
							position: absolute
							top: calc(100% + 8px)
							left: 50%
							width: 0
							height: 0
							border: 8px solid transparent
							border-bottom-color: #292929
							margin-left: -4px
							z-index: 1
					&__wrapper
						position: relative
						&:last-of-type
							.header-dropdown
								right: 0
						&:before
							content: '|'
							display: inline-block
							margin: 0 10px
							line-height: 1
							color: $c_text_gray
						&:first-of-type:before
							display: none
					.count
						display: inline-flex
						align-items: center
						justify-content: center
						width: 20px
						height: 20px
						text-align: center
						font-size: 1.3rem
						line-height: 20px
						margin-left: 3px
						background-color: #2d2727
						border-radius: 50%
		&-logo__wrapper
			padding: 14px 0 7px
			text-align: left
			margin-left: 0
		&-hotline
			&__link
				color: $c_text_gray
				text-decoration: none
				&:hover
					color: #ffffff
		&-support
			display: flex
			align-items: center
			justify-content: flex-start
			&__status
				font-weight: $fw_bold
				cursor: pointer
				&:hover
					text-decoration: underline
				&.online
					color: $c_green
					&:hover
						text-decoration-color: $c_green
				&.offline
					color: $c_red
					&:hover
						text-decoration-color: $c_red
			&__divider
				color: #ffffff
				margin: 0 5px
		&-logo
			&__wrapper
				position: relative
				z-index: 1
				width: auto
				flex-basis: 17%
		&-bottom
			padding-top: 30px
			.header__content
				align-items: flex-end
			&__left
				align-items: flex-end
				justify-content: space-between
				flex-basis: 85%
			&__right
				position: relative
				z-index: 10
				flex-basis: 15%
				padding-right: 0
				text-align: right
		&-nav
			position: static
			left: auto
			top: auto
			height: auto
			flex-basis: 81%
			visibility: visible
			a
				font-size: 1.2rem
			.nav-item--parent a:after
				display: none
			&__burger
				display: none
			&__list
				position: static
				background-color: transparent
				width: auto
				padding-bottom: 0
				display: flex
				align-items: center
				justify-content: flex-start
				box-shadow: none
				border-top: none
			&__item
				display: inline-block
				border-bottom: none
				> a
					background-color: transparent
					padding: 11px 7px 17px
					border-radius: 2px 2px 0 0
					color: $c_text_gray
					&:hover
						color: #ffffff
						background-color: $c_dark_darken
				&:hover
					> .nav-submenu__wrapper
						top: 100%
						z-index: 10
						opacity: 1
						visibility: visible
						transition: opacity 0.25s, top 0.25s, visibility 0.25s
				&.active
					> a
						color: #ffffff
				.nav-submenu__wrapper
					position: absolute
					left: 0
					top: 80%
					width: 100%
					opacity: 0
					z-index: -20
					transition: none
					visibility: hidden
				&.nav-item--user-link
					display: none
		&-mob-icons
			display: none
		&-cart
			position: relative
			display: inline-block
			top: 8px
			background-color: $c_red
			&:hover
				background-color: $c_red_lighten
				&:before
					border-bottom-color: $c_red_lighten
			&:before
				content: ''
				display: block
				height: 0
				width: 0
				border-bottom: 40px solid $c_red
				border-left: 40px solid transparent
				border-left: 31px solid transparent
				position: absolute
				right: 100%
				top: 0
			&__link
				display: flex
				align-items: center
				height: 40px
				width: 100%
				justify-content: flex-end
				padding: 6px 9px 6px 4px
				color: #ffffff
				text-decoration: none
			&__title
				display: flex
				flex-direction: column
				justify-content: flex-end
				text-align: right
				text-transform: uppercase
				font-size: 1.2rem
				&--strong
					font-weight: $fw_bold
			&__counter
				display: flex
				align-items: center
				justify-content: center
				line-height: 1
				margin-left: 5px
				width: 24px
				height: 24px
				color: $c_red
				background-color: #fff
				font-size: 1.8rem
				border-radius: 50%
				font-weight: $fw_bold
		


@media screen and (min-width: 1250px)
	.header
		&-nav__item 
			> a
				font-size: 1.5rem
				padding: 14px 10px 18px
		&-cart
			&__title
				font-size: 1.6rem
				line-height: 0.95
			&__link
				padding: 8px 9px 12px 4px
				height: auto
			&:before
				border-bottom-width: 50px
		&-bottom
			padding-top: 31px
		